.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;

  &:has(img) {
    display: grid;
    grid-template-columns: 25% 1fr;
    gap: 0;
    align-items: start;
    grid-template-areas:
      'image content'
      'image content'
      'image content';

      p:has(img) {
        grid-area: image;
        width: 60%;
      }
  }
}

.columns.large-image > div > div {
  &:has(img) {
    grid-template:
    "image" 300px
    "headline" auto
    "content" 1fr
    / 1fr;
    }

  h3 {
    grid-area: headline;

  }  

  p {
    width: 100%;

    &:has(img) {
      height: 220px;
      width: 60%;
      margin: auto;
    }
  }
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
