.simple-hero{
   background-color: var(--color-blue);
  color: white;

  .hero {
  padding: 2rem 0;
  position: relative;

  .hero-image {
    position: absolute;
    top: 0;
    right: -10%;
    width: 50%;
    height: 100%;
    background-image: url('/icons/_movement.svg');
    background-size: cover;
    background-position: center;
    filter: invert(1) opacity(0.1);
  }

  h2 {
    font-weight: 100;
  }
}
}

.hero-container:not(.simple-hero) {
  background-image: linear-gradient(90deg, #e5edf7 0, #fff 50%);
  
  .hero-wrapper {
    max-width: 100%;
    padding: 0;
  }

  .hero {
 > div {
    display: flex;
    min-height: 620px;
    
    >div:first-of-type {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 100%;
      padding: 0 24px 0 calc((100% - 1200px)/2);
      width: calc(40% - 48px);

      h1 {
        color: var(--color-blue)
      }

      p {
        font-size: var(--heading-font-size-m);
      }
    }

    >div:last-of-type {
      min-height: 100%;
      display: flex;
      flex-direction: column;
      width: 60%;
      align-items: right;


      picture {
        height: 100%;
        display: flex;
        justify-content: end;
        width: 100%;

        img {
          width: auto;
          height: 100%;
          object-fit: cover;
          clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
      }
    }
  }
  }
 
}
